<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>j-Riv</title>
    <style>
        html {
            min-height: 100%;
        }
        
        body {
            background-image: url(./public/rpi-dev.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            min-height: 100%;
            background-color: #333131;
        }
        
        p {
            color: #fff;
            text-align: center;
        }
    </style>
</head>

<body>
    <p>Hello, Friend...</p>
</body>

</html>